@using MudBlazor

<MudDialog>
	<DialogContent>
		<MudForm @ref="Form" @bind-IsValid="IsFormValid">
			<MudGrid Spacing="3" Class="pa-2">
				<MudItem xs="12">
					<MudTextField T="string"
								  Label="Recipient email"
								  Required="true"
								  RequiredError="Email is required"
								  Variant="Variant.Outlined"
								  @bind-Value="Model.RecipientEmail" />
				</MudItem>
				<MudItem xs="12">
					<MudTextField T="string"
								  Label="Subject"
								  Required="true"
								  RequiredError="Subject is required"
								  Variant="Variant.Outlined"
								  @bind-Value="Model.Subject" />
				</MudItem>
			</MudGrid>
			<div class="d-flex justify-end mt-4">
				<MudButton Color="Color.Default"
						   Class="mr-2"
						   OnClick="Cancel">
					Cancel
				</MudButton>
				<MudButton ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled" OnClick="Save">
					Send
				</MudButton>
			</div>
		</MudForm>
	</DialogContent>
</MudDialog>

@code {
	private MudForm Form = default!;
	private bool IsFormValid;

	[CascadingParameter]
	private IMudDialogInstance MudDialog { get; set; } = default!;

	[Parameter]
	public EmailSummaryDialogModel Model { get; set; } = new();

	private async Task Save()
	{
		await Form.Validate();
		if (!IsFormValid)
		{
			return;
		}

		MudDialog.Close(DialogResult.Ok(Model));
	}

	private void Cancel()
	{
		MudDialog.Cancel();
	}

	public sealed class EmailSummaryDialogModel
	{
		public string RecipientEmail { get; set; } = string.Empty;
		public string Subject { get; set; } = "AI summary";
	}
}
